/*---------------body--------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: grey;
}

.main-container {
    background-color: #fff;
}

/*-----------header----------------*/

header {
    padding: 1rem 0;
}

.logo{
    display: block;
    margin: auto;

}

h1{
    color: #D9763D;
    text-align: center;
    font-size: 3rem;
    
}

nav li {
    /* border: 2px solid #F2F2F2; */
    margin: 1px;
    background-color: #F2F2F2;
    padding: 1rem 0;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------main---------------------*/

main { 
    /* border: 2px solid red; */
    width: 100%;
}
.section {
    
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

p{
    margin-top: 2%;
 }

h2{
    text-align: center;
    margin-bottom: 2rem;
}

.section-bas {
    display: none;
}
/*----------------------footer------------------*/

footer{
    margin-top: 10%;
}

footer p{
    padding: 3%;
    text-align: center;
}
/* ---------------------------MENU HAMBURGER----------------------------------- */




/* -------------------------------- MEDIA QUERRY ---------------------------- */

/* -------------------------------------tablette---------------------------- */
@media screen and (min-width: 768px) {



.main-container {
    width: 95vw;
    margin: 0 auto;
}

.section-bas {
    /* border:1px solid red ; */
    
    display: flex;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}

.bloc-top{
    /* border:1px solid blue ; */
    width: 35%;
    padding: 5%;
}
.bloc-top li {
    margin-left: 1.5rem;
}

.bloc-galerie{
    /* border:1px solid orange ; */
    padding: 5%;
    width: 55%;
}
.vignettes img{
    border-radius: 0.2rem;
}

h3{
    margin-bottom: 20%;
    color: #D9763D;
}

  }

/* ---------------------------------ecran PC------------------------------- */
@media screen and (min-width: 1280px) {

 
/* -----------------header------------------ */
    header{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
        
    .logo {
        margin: 0;
        margin-left: 1rem;
    }

     h1{
        margin: auto;   
        font-size: 2rem;    
     }

     nav{ 
        width: 50%;
        margin-right:2rem ;
        display: flex;
        align-items: center;
        }

     nav li{
        background-color: white;
        display: flex;
        align-items: center;
    }

     a{
        word-spacing: 2rem;
     }

     ul{
        display: flex;
        flex-direction: row;
        justify-content: center;    
     }

     ul li{
        padding: 1rem;
     }

     .top5{
        line-height: 1.5rem;
     }

     .logo-titre{
        display: flex;
     }

     /* -----------------main------------------ */

     main{
        display: flex;
        padding: 0;
     }
     .section{
        margin-left: 2rem;
     }

     h3{
        /* text-align: center; */
        border-bottom: 1px solid grey;
     }

    .section h2 {
        margin-top: 4rem;
        font-size: 1.5rem;
    }

     .section-bas{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        /* border: 1px solid red; */
     }
     .bloc-top{
        width: 100%;
        padding: 2rem;
        /* border: solid 2px pink; */
        
     }
     .bloc-galerie{
        width: 100%;
        flex-wrap: wrap;
        padding: 2rem;
        /* border: 1px solid black; */
     }
     .bloc-galerie img{
        width: 18%;
     }
     .vignettes img{
        border-radius: 0.3rem;
     }

     footer {
        text-align: center;
        border-top: 1px solid grey;
     }
     
} 